.contact-hero {
   background: $color-secondary-dark;
   text-align: center;
   padding-top: $base-padding * 12;
   &-content {
      h1 {
         font-size: $base-font-size * 3;
         padding-bottom: $base-margin * 2;
         line-height: 40px;
         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 2;
            line-height: 30px;
         }
      }
      p {
         font-size: $base-font-size * 1.4;
         color: $color-text-light;
         text-align: justify;
         font-weight: 500;
         line-height: 36.3px;
         width: 100%;
         @include media-breakpoint-down-lg {
            width: 100%;
         }
         padding-bottom: $base-padding;
      }
   }
   @include media-breakpoint-down-xl {
      padding-top: $base-padding * 12;
   }
   @include media-breakpoint-down-lg {
      padding-top: $base-padding * 7.5;
   }
   @include media-breakpoint-down-md {
      padding-top: $base-padding * 7.5;
   }
   @include media-breakpoint-down-sm {
      padding-top: $base-padding * 3;
   }
}
