.contact-hero2 {
   background: $color-secondary-dark;
   text-align: center;
   padding: 0;
   @include media-breakpoint-down-xl {
      padding: 0;
   }
   @include media-breakpoint-down-lg {
      padding: 0;
   }
   @include media-breakpoint-down-md {
      padding: 0;
   }
   @include media-breakpoint-down-sm {
      padding: 0;
   }
   &-content {
      h1 {
         margin-top: $base-margin * 1;
         font-size: $base-font-size * 2.5;
         margin-bottom: $base-margin * 1.5;
         line-height: 40px;
         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 2.5;
         }
      }
      h2 {
         font-size: $base-font-size * 2;
         padding-top: $base-padding * 0.5;
         margin-bottom: $base-margin * 0.0;
         line-height: 40px;
         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 2.5;
         }
      }
      p {
         font-size: $base-font-size * 1.4;
         color: $color-text-light;
         text-align: justify;
         font-weight: 500;
         line-height: 36.3px;
         width: 100%;
         @include media-breakpoint-down-lg {
            width: 100%;
         }
      }
   }
}
