.hero-two {
  position: relative;
  background: $color-secondary-dark;
  z-index: 1;
  overflow: hidden;
  padding-top: $base-padding * 5;
  padding-left: $base-padding * 7.5;
  .hero-two-content {
    h5 {
      line-height: 60px;
      padding-top: $base-padding * 10;
      @include media-breakpoint-down-xxxl {
        padding-top: $base-padding * 9;
      }
      @include media-breakpoint-down-xxl {
        padding-top: $base-padding * 0;
      }
      @include media-breakpoint-down-lg {
        padding-top: $base-padding * 0;
        font-size: $base-font-size * 4;
        line-height: 80px;
      }
      @include media-breakpoint-down-md {
        padding-top: $base-padding * 0;
        font-size: $base-font-size * 3;
        line-height: 60px;
      }
      @include media-breakpoint-down-sm {
        padding-top: $base-padding * 0;
        font-size: $base-font-size * 2.5;
        line-height: 50px;
      }
      font-size: $base-padding * 2.5;
    }
    p {
      font-size: $base-padding * 1.4;
      text-align: justify;
    }
  }
  img {
    margin-left: $base-margin * 3;
    margin-top: 10rem;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    height: auto;
  }
  @include media-breakpoint-down-xxxl {
    padding-top: $base-padding * 10;
  }
  @include media-breakpoint-down-xxl {
    padding-top: $base-padding * 9;
    padding-left: $base-padding * 0;
    img {
      margin-top: 0rem;
    }
  }
  @include media-breakpoint-down-lg {
    padding-top: $base-padding * 8;
    padding-left: $base-padding * 0;
    img {
      margin-top: 5rem;
      width: 85%;
    }
  }
  @include media-breakpoint-down-md {
    padding-top: $base-padding * 7;
    padding-left: $base-padding * 0;
    img {
      margin-top: 4rem;
      width: 75%;
    }
  }
  @include media-breakpoint-down-sm {
    padding-top: $base-padding * 3;
    padding-bottom: 0;
    padding-left: $base-padding * 0;
    img {
      margin-top: 4rem;
      width: 65%;
      position: center;
    }
  }
}
.card-image {
  @include media-breakpoint-down-sm {
    padding-top: 0;
  }
}