.team {
   background: $color-secondary-dark;
   padding-top: $base-padding * 5;
   @include media-breakpoint-down-xxl {
      padding-top: $base-padding * 17.5;
   }
   @include media-breakpoint-down-xl {
      padding-top: $base-padding * 17.5;
   }
   @include media-breakpoint-down-lg {
      padding-top: $base-padding * 10;
   }
   @include media-breakpoint-down-md {
      padding-top: $base-padding * 10;
   }
   @include media-breakpoint-down-sm {
      padding-top: $base-padding * 10;
      padding-bottom: 0;
   }
   .section-header {
      padding-bottom: $base-padding * 3.5;
      @include media-breakpoint-down-xxl {
         padding: $base-padding * 3 $base-padding * 0 $base-padding * 3.5;
      }
      @include media-breakpoint-down-md {
         padding: $base-padding * 3 $base-padding * 0 $base-padding * 1.5;
      }
   }
   &-member {
      margin-bottom: $base-margin * 3.1;
      @include media-breakpoint-down-lg {
         margin-bottom: $base-margin * 2.5;
         text-align: center;
      }

      &-thumb {
         margin-bottom: $base-margin * 1.5;
         img {
            max-width: 100%;
            display: block;
            margin: 0 auto; /* Center horizontally */
            max-height: 100%;
            height: auto;
            object-fit: cover; /* Maintain aspect ratio while covering the container */
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
         }
         @media only screen and (max-width: 1366px) {
            img {
              max-width: 75%;
            }
          }
      }
      &-details {
         h3 {
            font-size: $base-font-size * 1.6;
            color: $color-header;
            margin-bottom: $base-margin * 0.3;
            font-weight: 600;
         }
         p {
            font-size: $base-font-size * 1.25;
            color: $color-text-light;
            font-family: $font-primary;
            @include media-breakpoint-down-xl {
               font-size: $base-font-size * 1.2;
            }
            @include media-breakpoint-down-lg {
               font-size: $base-font-size * 1.25;
            }
         }
      }
   }
}
