/********** 
  18. FAQ Section Styles
**********/
.faq-five {
   padding-bottom: 0;
   background:$color-secondary-dark;
   @include media-breakpoint-down-xl {
   }
   @include media-breakpoint-down-md {
   }
   @include media-breakpoint-down-sm {
   }
   .section-header2 {
      @include media-breakpoint-down-sm {
      }
   }
   .shows {
      border: 3px solid $color-primary;
   }
}
